.container{
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "h h"
                         "m a"
                         "f f"
}

html, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: khaki;
    text-align: center;
}

header{
    background-color: lawngreen;
    grid-area: h;
    padding: 10px;
}

main {
    background-color: lightblue;
    grid-area:m;
    padding: 10px;
}

aside{
    background-color: rgb(17, 14, 14);
    grid-area: a;
    padding: 10px;
}

.lista li{
    list-style: none;
    margin: 0;
    padding: 0;

}


footer{
    background-color: red;
    grid-area: f;padding: 10px;
}